.addimages {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  width: 75%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  padding-bottom: 1em;
  margin: 1em 0 0 15em;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 8px;
  margin-top: 1em;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.input .title {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  border-radius: 8px;
  background-color: #f5f5f5;
}

.input .title > span {
  width: 16em;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 0.5em;
  border-radius: 0 0 5px 5px;
  border-top: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;

  background-color: #ffd904;
}

.containerInput {
  /* background-color: green; */
  margin: 1em;
  padding: 2px;
  border-radius: 6px;
  border: 2px solid #ffd904;

  display: flex;
  justify-content: center;
  align-items: center;
}

.containerInput > input {
  width: 18em;
  height: 2.8em;

  border: none;
  border-radius: 5px;
  padding-left: 6px;

  border: 1px solid gray;
  background-color: #e7e7e7;
}

.containerInput > button {
  width: 3em;
  height: 40px;

  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;

  border: 1px solid gray;
  background-color: #e7e7e7;
}

.view > button {
  padding: 0.5em 0.8em;
  border: 2px solid #ffd904;
  border-radius: 5px;
  margin-bottom: 1em;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;

  background-color: #ffff;
}

.view button > div {
  /* background-color: firebrick; */
  width: 4em;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.centerBottom {
  width: 75%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */

  padding-bottom: 1em;
  margin: 2em 0 1em 15em;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.centerBottom > span {
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;
  border-radius: 0 0 5px 5px;
  border-top: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;

  background-color: #ffd904;
}

.imagesBack {
  width: 95%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin: 1em 0;
}

.imagesBack > div {
  display: flex;
}

.imagesBack div > img {
  max-width: 25em;
  max-height: 19em;

  margin-top: 6px;
  object-fit: cover;
}

.image > img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.image {
  margin: 6px 0 0 6px;
  position: relative;
}

.image > div {
  top: 0em;
  position: absolute;
  cursor: pointer;
}

/* -------- */

.containerImages {
  max-width: 98%;
  border: 3px solid #ffd904;
  border-radius: 5px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dadImage {
  margin: 0.5em;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dadImage a > img {
  object-fit: cover;
  border-radius: 5px;
  max-width: 100%;
}

.dadImage > div {
  top: 0.2em;
  left: 0.2em;
  position: absolute;
  cursor: pointer;
  padding-right: 4px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #f5f5f5;
}

.dadImage div > button {
  border: 1px solid red;
  border-radius: 3px;
  padding: 3px 3px 0px 3px;
  margin-right: 2px;
  cursor: pointer;

  background-color: rgba(255, 0, 0, 0.596);
}

@media (max-width: 1020px) {
  .center,
  .centerBottom {
    margin: 1em 0 0 0;
  }
}

@media (max-width: 500px) {
  .center,
  .centerBottom {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .input {
    width: 90%;
  }

  .input .title {
    width: 95%;
  }

  .input .title > span {
    width: 90%;
    text-align: center;
  }

  .containerInput {
    width: 90%;
  }

  .containerInput > input {
    width: 80%;
  }
}
