.faqs {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 60em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 1em;
  margin: 2em 0 1em 15em;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.container {
  width: 20em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 1em;
  border-radius: 8px;
  padding: 0 1em 0.5em 1em;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container > span {
  width: 17em;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 0.5em;
  border-radius: 0 0 5px 5px;
  border-top: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;

  background-color: #ffd904;
}

.inputs {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  padding: 0.5em;
}

.inputs > span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  border-bottom: 2px solid #ffd904;
}

.inputs > input {
  width: 17em;
  height: 2.2em;

  border: none;
  border-radius: 5px;
  padding-left: 6px;
  margin: 0.3em 0 1em 0;

  border: 1px solid gray;
  background-color: #e7e7e7;

  font-size: 17px;
  font-family: "Sarabun", sans-serif;
}

.inputs > textarea {
  resize: none;
  width: 16em;
  height: 8em;

  border: none;
  border-radius: 5px;
  padding: 2px 0 0 6px;
  margin: 0.3em 0 0 0;
  border: 1px solid gray;

  background-color: #e7e7e7;

  font-family: "Sarabun", sans-serif;
  font-size: 18px;
}

.container > button {
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;

  color: #101010;
  background-color: #ffd904;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container > button:active {
  transform: translateY(2px);
}

.error {
  margin-top: 5px;
  display: flex;
  align-items: center;

  font-family: "Sarabun", sans-serif;
  font-size: 16px;

  color: red;
}

.bottom {
  width: 75%;

  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.bottom .left > span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;

  border-bottom: 2px solid #ffd904;
}

.bottom .rigth {
  width: 22em;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.rigth > span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;

  border-bottom: 2px solid #ffd904;
}

.containerFAQS {
  width: 22em;
  border-radius: 8px;
  padding: 1em 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.containerFAQS > details {
  /* background-color: rebeccapurple; */
  width: 90%;

  font-family: "Sarabun", sans-serif;
  font-size: 18px;
}

.containerFAQS details > summary {
  width: 90%;

  border-radius: 5px 5px 0 0;
  padding: 0.5em 0.5em;

  background-color: #e7e7e7;
}

.containerFAQS details > p {
  padding: 0.5em;

  background-color: #ffd904;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.containerDelete {
  width: 22em;
  border-radius: 8px;
  padding: 1em 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.cardFAQdelete {
  width: 90%;

  border-radius: 5px;
  padding: 0.5em 0.5em;

  background-color: #e7e7e7;

  display: flex;
  justify-content: start;
  align-items: center;
}

.cardFAQdelete > span {
  /* background-color: rebeccapurple; */
  margin-left: 8px;
  font-size: 18px;
  font-family: "Sarabun", sans-serif;
}

.remove {
  border: 1px solid red;
  border-radius: 5px;
  padding: 1px 1px 0 1px;
  margin-left: 6px;

  cursor: pointer;

  background-color: rgba(255, 0, 0, 0.363);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.remove :active {
  transform: translateY(2px);
}
