.navbar {
  width: 100%;
  height: 5em;
  top: 0;
  position: sticky;
  z-index: 10000;

  display: flex;
  justify-content: center;
  background-color: #101010;
}

.navbar > div {
  width: 95%;

  display: flex;
  justify-content: space-between;
}

.navbar div > a {
  z-index: 2000;
  top: 0;
  text-decoration: none;
}

.navbar div a > img {
  width: 90px;
  height: 90px;
  margin: 6px 0;
}

.navbar div > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
