.carro {
  /* height: 40em; */
  height: 40em;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

@media (max-width: 1020px) {
  .swiper-slide img {
    border-radius: 10px 10px 0 0;
  }
}

@media (max-width: 550px) {
  .carro {
    height: 35em;
  }
}

@media (max-width: 400px) {
  .carro {
    height: 30em;
  }
}

@media (max-width: 350px) {
  .carro {
    height: 25em;
  }
}

@media (max-width: 300px) {
  .carro {
    height: 20em;
  }
}
