* {
  margin: 0;
  padding: 0;
}

.none {
  display: none;
}

.update {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 60em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 1em;
  margin: 2em 0 1em 15em;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.images {
  min-width: 19.7em;

  margin-top: 1em;
  border-radius: 8px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  background-color: #f5f5f5;
}

.addImages {
  min-width: 19.7em;
  margin-top: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerImgsOff {
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6px;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.containerImgsOn {
  min-width: 19.7em;

  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6px;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.image > img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.image {
  margin: 6px 0 0 6px;
  position: relative;
}

.image > div {
  top: 0em;
  position: absolute;
  cursor: pointer;
}

.property {
  width: 20em;
  /* background-color: red; */
}

.property > span {
  /* background-color: yellow; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.selects {
  min-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 0.5em;
  border: 1px solid gray;
  border-radius: 8px;
  /* background-color: rebeccapurple; */
}

.selects div > span {
  /* background-color: yellow; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 5px;
}

.selects .names {
  max-width: 20em;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}

.selects .names > div {
  margin: 5px 0 5px 5px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e7e7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  color: #101010;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.selects .names div > span {
  padding: 0 6px;
}

.selects .names div > button {
  border: 0;
  padding: 0;
  cursor: pointer;

  border-radius: 0 50% 50% 0;
  background-color: gray;
}

.titleSelects {
  min-width: 20em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.property .names {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3px 0 5px 0;
  border: 1px solid gray;
  border-radius: 5px 5px 0 0;

  font-size: 18px;
  font-family: "Sarabun", sans-serif;
  background-color: #f5f5f5;
}

.property .names > span {
  margin-left: 4px;
}

.changes {
  height: 4em;
  width: 20em;

  border-radius: 0 0 5px 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.addImagesChanges {
  min-height: 4em;
  width: 20em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 0 0 5px 5px;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.addImagesChanges > form {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.addImagesChanges > div {
  margin: 5px 0;
}

.post {
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;

  border: 1px solid gray;
  background-color: #e7e7e7;
}

.changes > select {
  width: 13.9em;
  height: 1.9em;

  border: none;
  border-radius: 5px;
  border: 1px solid gray;

  background-color: #e7e7e7;

  font-family: "Sarabun", sans-serif;
  font-size: 16px;
}

.changes select > option {
  background-color: #e7e7e7;

  font-family: "Sarabun", sans-serif;
  font-size: 17px;
}

/* --------- Butons Actions --------- */
.actions {
  border: none;
  border-radius: 5px;
  padding: 3px 3px 0 3px;
  margin-right: 6px;

  cursor: pointer;

  background-color: #f5f5f5;
  /* background-color: red; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.actions:active {
  transform: translateY(2px);
}

.ok {
  border: 1px solid green;
  border-radius: 5px;
  padding: 2px 2px 0 2px;
  margin-left: 6px;

  cursor: pointer;

  background-color: rgba(4, 109, 4, 0.418);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.ok:active {
  transform: translateY(2px);
}

.clear {
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 2px 0 2px;
  margin-left: 6px;

  cursor: pointer;

  background-color: rgba(255, 0, 0, 0.363);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.clear :active {
  transform: translateY(2px);
}

/* ---------------------------------- */

.inputs {
  width: 16em;
  height: 2.2em;

  border: none;
  border-radius: 5px;
  padding-left: 6px;

  border: 1px solid gray;
  background-color: #e7e7e7;
}

.row {
  min-width: 45em;

  margin-top: 1em;
  border-radius: 8px;
  padding: 3px 0 10px 0;

  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;

  background-color: #f5f5f5;
}

.editInfo > textarea {
  resize: none;

  width: 17.6em;
  height: 10em;

  font-family: "Sarabun", sans-serif;
  font-size: 18px;
}

.text {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: start;

  color: #101010;
  font-family: "Sarabun", sans-serif;
  font-size: 18px;
}

/* <----- ERRORS ------> */

.error {
  display: flex;
  align-items: center;

  color: red;

  margin: 6px 4px 0 0;
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
}

.error > p {
  margin-left: 4px;
}

/* <---------> */

.correct {
  display: flex;
  align-items: center;

  color: green;

  margin: 6px 4px 0 0;
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
}

.send {
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  padding: 10px 20px;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;

  color: #101010;
  background-color: #ffd904;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.send:active {
  transform: translateY(2px);
}
