.filters {
  width: 75%;
  min-height: 7em;

  margin-bottom: 2em;
  margin-left: 15em;
  border-radius: 10px;
  border: 1px solid gray;
  padding-bottom: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #e7e7e7;
}

.topOff {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.topOn {
  width: 100%;
  height: auto;

  margin-top: 2em;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.containerFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 0.5em;
}

.buttonOrder {
  width: 80%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divSelect > select {
  width: 8em;
  height: 1.9em;

  border: none;
  border-radius: 5px;
  border: 1px solid gray;

  background-color: #f5f5f5;

  font-family: "Sarabun", sans-serif;
  font-size: 16px;
}

.divSelect select > option {
  background-color: #e7e7e7;

  font-family: "Sarabun", sans-serif;
  font-size: 17px;
}

.buttonEnd {
  margin: 1em 0;
  padding: 0.5em 1em;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;

  background-color: rgba(0, 128, 0, 0.596);

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1290px) {
  .topOff {
    width: 90%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1020px) {
  .filters {
    margin-left: 0;
  }
}
